* { /*asterix centers all text*/
    margin: 0; 
    padding: 0; 
  }
  
  body { /*body*/
    text-align: center; 
    background: #E8E8E8;
  }
  
  h2 { /*header size#2*/
    color: #FFFFFF;
    text-decoration: none;
    float: none;
    text-transform: uppercase;
    text-align: center;
    font-family: monospace;
    font-size: 26px; 
    padding-top: 130px;
  }
  
  p { /*paragraph*/
    color: #3F3F3F; 
    font-family: monospace; 
    text-align: left;
    padding-top: 10px;
    font-size: 20.5px; 
  }
  
  .wrapper { /*content center*/
    width: 1170px;
      margin: 0 auto;
  }
  
  header { /*navigation header plate*/
      height: 100px;
      background: #191919;
      width: 100%;
      z-index: 10;
  }

  .logo { /*Text logo*/
      width: 30%;
      float: left;
      line-height: 100px;
  }
  .logo a { /*Text logo*/
      text-decoration: none;
      font-size: 30px;
      font-family: monospace;
      float: left;
      color: #FFFFFF;
      letter-spacing: 5px;
  }

  .banner {
    width: 100%;
    height: 600px;
    position: center;
    top: 100px;
    padding-top: 13.6%;
    background-image: url(https://images.wallpapersden.com/image/download/minimalist-black-digital-blend_a2pnam2UmZqaraWkpJRobWllrWdma2U.jpg);
    -webkit-background-size: cover;
    background-size:cover;
    background-position: center;
    overflow: hidden;
  }
  .banner h2 {
    padding-top: 8%;
    font-size: 40px;
    font-family: monospace;
    position: center;
    text-transform: uppercase;
    color: #E8E8E8;
  }
  
  nav { /*navigation text alignment*/ 
      float: right;
      line-height: 99px;
  }
  
  nav a { /*navigation anchor url text button*/
      text-decoration: none;
      font-family: monospace;
      letter-spacing: 4px;
      font-size: 20px;
      margin: 0 10px;
      color: #FFFFFF;
  }

  a:hover {
    color:#c5c5c5;  
  }
  
  body {
    background: #141414;
  }
  
  .timeline-area {
    margin: 90px auto; 
    width: 360px; 
    height: 1300px;
    border-left: 2px solid #ccc; 
    padding: 0 20px 0 30px; 
  }

  div {
  
    background-position-y: nill;
  }

  div::before {
    content: ''; 
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000000;
    border: 3px solid #ddd;
    position: absolute;
    top: 10px;
    left: -40px;
  }
  
  div::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #ddd transparent transparent;
    border-width: 8px;
    position: absolute;
    left: -17px;
    top: 10px;
  }

  div h2 {
    color: #FFFFFF; 
    text-decoration: none;
    margin: 0;
    text-transform: uppercase;
    font-family: monospace;
  }

  div h3 {
    color: #FFFFFF; 
    text-decoration: none;
    margin: 0;
    font-family: monospace;
  }

  div h4 {
    color: #FFFFFF;
    text-decoration: none;
    margin: 0;
    font-family: monospace;
  }

